<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de alumnos</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>INICIO</a>
        <a href={% url "mostrar_alumnos" %}>ALUMNOS</a>
    </nav>
    <p>
        {% comment %} {{alumnos}}  {% endcomment %}
        <!-- se muestra como QuerySet -->
    </p>
    <!-- se pueden usar comandos de python -->
    <p>
        {% for alumno in alumnos %}
            <ul>
                {% if alumno.nota > 6 %}
                    <li style="color:green">{{alumno}}</li>
            
                {% else %}
                    <li style="color: red;">{{alumno}}</li>
            
                {% endif %}
            </ul>
            {% endfor %}
    </p>

    
</body>
</html>